html,
body {
  overflow-x: hidden;
}
html{
    overflow-y: hidden;
}
.part1{
    background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);
    height: 860px;
    display: flex;
    flex-direction: column;
    gap: 170px;
}
.top1{
    display: flex;
    align-items: center;
}
.top2list{
    display: flex;
    align-items: center;
}
.top2listtxt{
    color: white;
}
.top2{
    display: flex;
    gap: 40px;
    align-items: center;
}
.top2l{
    display: flex;
    gap: 40px;
}
.top{
    display: flex;
    justify-content: space-around;
}
.top2btn{
    background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
    color: white;
    width: 95px;
    height: 38px;
    top: 39px;
    left: 1205px;
    border-radius: 4px;
    border: none;
}
.toptxt1{
    color: white;
    font-family: "DM Sans", sans-serif;
    width: 623px;
height: 241px;
top: 247px;
left: 140px;
font-weight: 700;
font-size: 64px;
line-height: 76px;
letter-spacing: 0px;
}
.toptxt{
    display: flex;
    flex-direction: column;
}
.toptxt1img{
    width: 176.27446032124584px;
height: 50.92055525409123px;
top: 520.65px;
left: 157.22px;
transform: rotate(-14,35deg);
margin-left: 4.6px;
    margin-top: -27px;
}
.bot{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.botr1{
    margin-bottom: -400px;
}
.botr{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}
.botl{
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.midtxt{
    width: 459px;
height: 78px;
top: 520px;
left: 140px;
font-family: "DM Sans", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0px;
color: white;
}
.bottxt{
    display: flex;
    align-items: center;
    gap: 42px;
}
.bottxts
{
    font-family: "DM Sans", sans-serif;
    width: 123px;
height: 21px;
top: 648px;
left: 379px;
color: white;
}
.bottxtl{
    width: 197px;
height: 57px;
top: 630px;
left: 140px;
border-radius: 4px;
color: #00A8DB;
border: none;
}
.bottxtr{
    display: flex;
    align-items: center;
    gap: 0px;
}